// COLORS
$main: #00ff80;
$white: #ffffff;
$black: #141414;

// FONTS
$light: 300;
$regular: 400;
$medium: 500;
$bold: 900;

$font-family-sans: 'Roboto', sans-serif;
$font-unit: 0.875rem;

// TIME
$duration: 0.4s;
